@charset "UTF-8";
body {
    text-align: center;
}
h2 {
    font-weight: bolder;
}
a {
    display: inline-block;
    background-color: #fff;
    font-size: 1.3rem;
    border-radius: 12px;
    padding: 0.5rem 1.5rem;
    transition: 0.5s;
    text-decoration: none;
}
a:hover {
    background-color: #0d3fbd;
    color: #fff;
}